#stripeBtnLabel {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-variant: normal;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  display: block;
}

/*#stripeBtn {*/
/*  border: none;*/
/*  border-radius: 4px;*/
/*  outline: none;*/
/*  text-decoration: none;*/
/*  color: #fff;*/
/*  background: #32325d;*/
/*  white-space: nowrap;*/
/*  display: inline-block;*/
/*  height: 40px;*/
/*  line-height: 40px;*/
/*  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);*/
/*  border-radius: 4px;*/
/*  font-size: 15px;*/
/*  font-weight: 600;*/
/*  letter-spacing: 0.025em;*/
/*  text-decoration: none;*/
/*  -webkit-transition: all 150ms ease;*/
/*  transition: all 150ms ease;*/
/*  float: left;*/
/*  width: 100%*/
/*}*/

/*button:hover {*/
/*  transform: translateY(-1px);*/
/*  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);*/
/*  background-color: #43458b;*/
/*}*/

.stripe-form {
  /*padding: 5px 30px;*/
  padding: 5px 15px;
}

#card-errors {
  height: 20px;
  padding: 4px 0;
  color: #fa755a;
}

/*.stripe-form-row {*/
/*  width: 100%;*/
/*  float: left;*/
/*  margin-top: 5px;*/
/*  margin-bottom: 5px;*/
/*}*/

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid  transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.current-card-form {
  display: none;
}

#stripe-div {
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
    display: block !important;
    background: transparent !important;
    position: relative !important;
    opacity: 1 !important;
}

#stripe-iframe {
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 1px !important;
    min-width: 100% !important;
    overflow: hidden !important;
    display: block !important;
    height: 19.2px;
}

#stripe-input {
    border: none !important;
    display: block !important;
    position: absolute !important;
    height: 1px !important;
    top: 0px !important;
    left: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
    opacity: 0 !important;
    background: transparent !important;
    pointer-events: none !important;
    font-size: 16px !important;
}