{% extends "dl_menu.html" %}

{% block head %}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    /*body {*/
    /*  background: #eee;*/
    /*  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
    /*  font-size: 14px;*/
    /*  color: #000;*/
    /*  margin: 0;*/
    /*  padding: 0;*/
    /*}*/

    .swiper-container {
      width: 85%;
      height: 50%;
    }

    .swiper-slide {
      background-position: center;
      background-size: contain;
      background-color: black;
      background-repeat: no-repeat;

    }

    .swiper-pagination-bullet {
  opacity: 0.5;
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    background-color: gray;
}
    .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    background-color: white;
}

  </style>

{% endblock %}


{% block content %}


<div class="swiper-container swiper-container-fade swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" style="position:absolute">
    <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image1.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image2.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image3.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image4.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image5.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image6.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image7.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image8.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image9.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image10.jpg');"></div>

  </div>

  <div class="swiper-pagination swiper-pagination-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
  </div>


 <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      loop: true,
      centeredSlides: true,
      effect: 'fade',
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
    });
  </script>


{% endblock %}