{% extends "dl_menu.html" %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">

<link rel="stylesheet" href="{% static 'css/category_detail.css' %}">

{% endblock %}
{% block carousel %}
{% if image_carousel_list %}
<div class="swiper-container swiper-container-fade swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
    <div class="swiper-wrapper">

        {% for image in image_carousel_list|slice:":15" %}
    <a class="swiper-slide" id = "img{{image.id}}" href="{% url 'dl:image_detail' image.id %}"></a>

    <script nonce="{{request.csp_nonce}}">
        var el = document.getElementById("img{{image.id}}");
        el.style.backgroundImage = "url('{{image.preview.url}}')";
    </script>
{% endfor %}
</div>
<div class="swiper-pagination swiper-pagination-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>

  </div>
{% else %}
{% endif %}
{% endblock %}

{% block content %}


<div class="container">

<span class="floatRight">
{% if catergory.owner == user %}
<a href="{% url 'dl:category_update' category.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'dl:category_delete' category.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>

{% if category.link_title is not None and category.link_title != "" and category.link_url is not None and category.link_url != "" %}
<h3 class="text-center"><a href="{{ category.link_url }}" >{{ category.link_title }}</a></h3>
{% endif %}


<h2 class="text-center"> {{ category.title }} </h2>

{% if image_list %}

<div class="infinite-container row">
    {% for image in image_list %}
    {% if forloop.first %}<div class="infinite-item row">{% endif %}
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="{% url 'dl:image_detail' image.id %}">
                <img  class="img-responsive center-block" src="{{ image.thumbnail.url }}">

                <div class="caption"> <h4 class="text-center">{{image.title}}</h4>

                </div>

            </a>
        </div>


        </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}


  {% endfor %}
  </div>

  {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">Loading Images...</a>
    {% endif %}
{% else %}
  <p>There are no images in this category.</p>
{% endif %}

<a href="{% url 'dl:all' %}" class="btn btn-default btn-block" role="button">All Images</a>
{% if user.is_superuser %}
<p></p>
<a href="{% url 'dl:all_categories' %}" class="btn btn-default btn-block" role="button">All categories</a>
<p></p>
{% else %}
{% endif %}
</div>

</div>
<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>

<script src="{% static 'js/swiper-bundle.min.js' %}"></script>

<script src="{% static 'js/category_detail.js' %}"></script>

{% endblock %}