{% extends "dl_menu.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% block head %}

<style>
.overlay{
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
</style>
{% endblock %}
{% block carousel %}
<div id="overlay" class="overlay" style="text-align: center;"
   onclick="document.getElementById('overlay').style.display = 'none';" >
<img style="width:90%;margin-top: 50px; border:1px solid black;" src="/media/{{ image.image }}">
</div>
{% endblock %}
{% block content %}
<p></p>
<p></p>
<p></p>
<p></p>

<span style="float: right; ">
{% if image.owner == user %}
<a href="{% url 'dl:image_update' image.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'dl:image_delete' image.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<!--<h1 class="text-center">{{ image.title }}</h1>-->
<div class="display: grid;height: 100%;">
<img  class="img-responsive center-block" style="max-width:66%;max-height:66vh;margin: auto;" src="/media/{{ image.image }}" onclick="document.getElementById('overlay').style.display = 'block';">
</div>
<!--<p class="text-center">-->
<!--<h4>Description:</h4>-->
<!--<p>{{ image.description }}</p>-->

<!--<p class="text-center">(Posted {{ image.updated_at|naturaltime }})</p>-->

<p class="text-center"><small>(click to zoom in)</small></p>
{% if previous_image and next_image %}
<a href="{% url 'dl:image_detail' next_image.id %}"><span class="glyphicon glyphicon-arrow-left" style="color: white;"></i></a>
<a href="{% url 'dl:image_detail' previous_image.id %}"><span class="glyphicon glyphicon-arrow-right pull-right" style="color: white;"></i></a>
{% elif next_image %}
    <a href="{% url 'dl:image_detail' next_image.id %}"><span class="glyphicon glyphicon-arrow-left" style="color: white;"></i></a>
{% elif previous_image %}
<div class="text-right">
<a href="{% url 'dl:image_detail' previous_image.id %}"><span class="glyphicon glyphicon-arrow-right" style="color: white;"></i></a>
</div>
{% endif %}


<h3>{{ image.title }}</h3>
<p>{{ image.description }}</p>

<p></p>

{% if product_list %}

<button type="button" id="button" class="btn btn-primary btn-block">Buy Image</button>
<p></p>
<div id="product-list" style="display:none;">
<ul class="list-group">
    <h3 class="list-group-item-heading">This image is available in the following formats:</h3>
  {% for product in product_list %}

        <a class="list-group-item" href="{% url 'dl:product'  product.id %}">
                {% if product.owner == user %}
        <span class="pull-right">
                <form action="{% url 'dl:product_delete' product.id %}">
                    <button type="submit" class="btn btn-link">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            </span>
            <span class="pull-right">
                <form action="{% url 'dl:product_update' product.id %}">
                    <button type="submit" class="btn btn-link">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </form>
            </span>
        {% endif %}
        <h4 class="list-group-heading"> {{ product.item_name }} - ${{ product.price|floatformat:2 }}</h4>

    </a>

  {% endfor %}
</ul>
</div>
{% endif %}


<p>
</p>
<p>
<!--<a href="{% url 'dl:all' %}">All Images</a>-->
<a href="{% url 'dl:all' %}" class="btn btn-default btn-block" role="button">All Images</a>
</p>

<script>
    var button = document.getElementById('button'); // Assumes element with id='button'

button.onclick = function() {
    var div = document.getElementById('product-list');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
        document.querySelector('#button').innerHTML = 'Buy Image';
        document.querySelector('#button').innerText = 'Buy Image';
        document.querySelector('#button').textContent = 'Buy Image';

    }
    else {
        div.style.display = 'block';
        document.querySelector('#button').innerHTML = 'Hide Products';
        document.querySelector('#button').innerText = 'Hide Products';
        document.querySelector('#button').textContent = 'Hide Products';
        div.scrollIntoView();
    }
};
</script>
{% endblock %}
