{% extends "dl_menu.html" %}
{% load humanize %}
{% load static %}
{% block head %}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<style type="text/css">
    html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 100%;
        margin: 75px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }

    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
    .slick-dots li button:before {
    color: gray;
  }
  .slick-dots li.slick-active button:before {
    color:white !important;
}

  </style>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<!--<p></p><p></p>-->
<!--<h1  class="text-center">All Images</h1>-->

<section class="vertical-center-1 slider" style="display: block">
    <div>
      <img src=" {% static 'slick/img/image1.jpg' %}">
    </div>
    <div>
      <img src=" {% static 'slick/img/image2.jpg' %}">
    </div>
    <div>
      <img src=" {% static 'slick/img/image3.jpg' %}">
    </div>
    <div>
      <img src=" {% static 'slick/img/image4.jpg' %}">
    </div>
    <div>
      <img src=" {% static 'slick/img/image5.jpg' %}">
    </div>
    <div>
      <img src=" {% static 'slick/img/image6.jpg' %}">
    </div>
    <div>
      <img src=" {% static 'slick/img/image7.jpg' %}">
    </div>
    <div>
      <img src=" {% static 'slick/img/image8.jpg' %}">
    </div>
    <div>
      <img src=" {% static 'slick/img/image9.jpg' %}">
    </div>
    <div>
      <img src=" {% static 'slick/img/image10.jpg' %}">
    </div>
  </section>

<h1  class="text-center">Digi Louvre - All Images</h1>
<div class="container">
    {% if user.is_authenticated and user.is_superuser %}
    <form action="{% url 'dl:image_create' %}">
        <input class ="form-control form-horizontal btn btn-primary" type="submit" value="Add Image">
    </form>
    {% endif %}
{% if image_list %}

  {% for image in image_list %}



    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="{% url 'dl:image_detail' image.id %}">
                <!--<img  class="img-responsive center-block" src="/media/{{ image.image }}">-->
                <img  class="img-responsive center-block" src="{{ image.thumbnail.url }}">

                <div class="caption"> <h4 class="text-center">{{image.title}}</h4>
                <p class="text-center"><em>{{image.category.title}}</em></p>
                <!--<p class="text-center"><small>Posted {{ image.updated_at|naturaltime }}</small></p>-->

                </div>
        </div>

            </a>
        </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}


  {% endfor %}

{% else %}
  <p>There are no images in the database.</p>
{% endif %}
</p>
</div>


<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).on('ready', function() {
      $(".vertical-center-1").slick({
        dots: true,
        infinite: true,
        speed: 1000,
        fade: true,
        // cssEase: 'ease',
        arrows: false,
        autoplay: true,
        autoplaySpeed: 4000,
        mobileFirst: true,
        adaptiveHeight: true,

      });

    });
</script>
{% endblock %}
