{% extends "dl_menu.html" %}
{% load humanize %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    /*body {*/
    /*  background: #eee;*/
    /*  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
    /*  font-size: 14px;*/
    /*  color: #000;*/
    /*  margin: 0;*/
    /*  padding: 0;*/
    /*}*/

    .swiper-container {
      width: 100%;
      height: 66%;
    }

    .swiper-slide {
      background-position: center;
      background-size: contain;
      background-color: black;
      background-repeat: no-repeat;

    }

    .swiper-pagination-bullet {
  opacity: 0.5;
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    background-color: gray;
}
    .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    background-color: white;
}

  </style>

{% endblock %}

{% block carousel %}
<div class="swiper-container swiper-container-fade swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" style="">
    <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image1.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image2.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image3.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image4.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image5.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image6.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image7.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image8.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image9.jpg');"></div>
    <div class="swiper-slide" style="background-image:url('https://drcbeatz.github.io/swiper/img/image10.jpg');"></div>

  </div>


  <div class="swiper-pagination swiper-pagination-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
  </div>
{% endblock %}

{% block content %}
<!--<p></p><p></p>-->
<!--<h1  class="text-center">All Images</h1>-->

<h1  class="text-center">Digi Louvre - All Images</h1>
<div class="container">
    {% if user.is_authenticated and user.is_superuser %}
    <form action="{% url 'dl:image_create' %}">
        <input class ="form-control form-horizontal btn btn-primary" type="submit" value="Add Image">
    </form>
    {% endif %}
{% if image_list %}

  {% for image in image_list %}



    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="{% url 'dl:image_detail' image.id %}">
                <!--<img  class="img-responsive center-block" src="/media/{{ image.image }}">-->
                <img  class="img-responsive center-block" src="{{ image.thumbnail.url }}">

                <div class="caption"> <h4 class="text-center">{{image.title}}</h4>
                <p class="text-center"><em>{{image.category.title}}</em></p>
                <!--<p class="text-center"><small>Posted {{ image.updated_at|naturaltime }}</small></p>-->

                </div>
        </div>

            </a>
        </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}


  {% endfor %}

{% else %}
  <p>There are no images in the database.</p>
{% endif %}
</p>
</div>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
        observer: true,
        observeParents: true,
      spaceBetween: 30,
      loop: true,
      centeredSlides: true,
      effect: 'fade',
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
    });
  </script>
{% endblock %}
