{% extends "dl_menu_light.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block header %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}
<p>

  <form action="" method="post" id="upload_form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" id="buttonSubmit" value="Submit" class="btn btn-block btn-primary">

    <input type="submit" value="Cancel" id="buttonCancel" class="btn btn-block btn-default">

  </form>
</p>

 <script src="{% static 'js/cancel_button.js'  %}"></script>

{% endblock %}