{% extends "dl_menu.html" %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/pikaday.css' %}">

{% endblock %}
{% block content %}
<h1 class="text-center">Orders</h1>
<div class="container">

{% load crispy_forms_tags %}

<div class="container">
<form method="GET">
    {{ order_filter.form|crispy }}
    <button type="submit" class="btn btn-block btn-primary">Search Orders</button>
  </form>

{% if order_list and order_filter.qs %}

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Order #</th>
        <th>User</th>
        <th>Date Ordered</th>
        <th>Payment Type</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>

        {% for order in order_filter.qs %}
        {% if order.ordered %}
      <tr>

        <td><a href="{% url 'dl:order_detail'  order.id %}">{{ order.id }}</a></td>
        <td>{{ order.user }}</td>
        <td>{{ order.ordered_date }}</td>
        <td>{% if order.payment.payment_type == 'S' %}Stripe{% elif order.payment.payment_type == 'P' %}Paypal{% endif %}</td>
        <td>${{ order.payment.amount|floatformat:2 }}</td>
      </tr>
      {% endif %}

      {% endfor %}
      <tr>
          <td><strong>Order count: </strong></td>
          <td>{{ order_count }}</td>
          <td></td>
          <td><strong>Total sales amount: </strong></td>
          <td>${{ total|floatformat:2 }}</td>

      </tr>
    </tbody>
  </table>
</div>

{% elif order_list is None %}
  <p>There are no orders in the database.</p>
  </div>
{% else %}
    <p></p>
    <p><strong>There are no orders matching your search criteria</strong></p>
    <p></p>
{% endif %}
</p>

<h4 class="text-center"><strong>Taxes enabled:</strong> {{ taxes_enabled }}</h4>

</div>

<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/ca.min.js' %}"></script>
<script src="{% static 'js/pikaday.js' %}"></script>
<script src="{% static 'js/order_list.js' %}"></script>

{% endblock %}