{% extends 'dl_menu_light.html' %}

{% block content %}

<main>
    <div class= "container">
            <h3><strong>Your Cart  </strong><span class="badge">{{ order.get_item_count }}</span></h3>
        <!--<div class="table-responsive text-nowrap">-->
            <div>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in order.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.item_name }}</td>
            <td>
            {% if order_item.item.discount_price %}
                <del>${{ order_item.item.price}}</del>
                ${{ order_item.item.discount_price }}
            {% else %}
                ${{ order_item.item.price|floatformat:2}}
            {% endif %}

            </td>
            <td>
                <a href="{% url 'dl:reduce-quantity-item' order_item.item.pk %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'dl:add-to-cart' order_item.item.pk %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
            {% if order_item.item.discount_price %}
                ${{ order_item.get_discount_item_price|floatformat:2 }}
                <span class="badge badge-success" >Saved ${{ order_item.get_amount_saved }}</span>
            {% else %}
                ${{ order_item.get_total_item_price|floatformat:2}}
            {% endif %}
             <a href="{% url 'dl:remove-from-cart' order_item.item.pk %}">
                <i class="fas fa-trash float-right text-danger"></i>
             </a>

            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="5">Your Cart is Empty</td>
        </tr>

         <tr>
            <td colspan="5">
                <a href="/" class="btn btn-primary btn-block">Continue Shopping</a>
            </td>
        </tr>


        {% endfor %}

        {% if order.get_total_price %}
        <tr>
            <td colspan="4"><b>Total Order Price</b></td>
            <td>${{ order.get_total_price|floatformat:2 }}</td>
        </tr>

        {% endif %}

        </tbody>
    </table>

    {% if order.get_total_price %}
    <a href="{% url 'dl:checkout' %}" class="btn btn-warning btn-block">Checkout</a>
                <a href="{% url 'dl:all' %}" class="btn btn-primary btn-block">Continue Shopping</a>
    {% endif %}
        </div>
    </div>
</main>

{% endblock content %}