{% extends "dl_menu_light.html" %}

{% block title %}Make PayPal Payment{% endblock %}



{% block content %}

<h1 class="text-center">Pay with PayPal</h1>
<!--Grid column-->

        <!--<div class="col-md-4 mb-4">-->

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>Your Cart</span>
            <span class="badge">{{ order.get_item_count }}</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">

            {% for order_item in order.items.all %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{ order_item.quantity }} x {{ order_item.item.item_name }}</h6>
                <small class="text-muted">{{ order_item.item.description }}</small>
              </div>
              <span class="text-muted">${{ order_item.get_final_price|floatformat:2 }}</span>
            </li>
            {% endfor %}


            {% comment %} <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">-$0</span>
            </li> {% endcomment %}
            {% if taxes_enabled %}
            <li class="list-group-item d-flex justify-content-between">
              <span>Subtotal:</span>
              <strong>${{order.subtotal|floatformat:2}}</strong>
            </li>
            {% endif %}
            {% if user.is_superuser %}
            <li class="list-group-item d-flex justify-content-between">
              <span>Shipping amount:</span>
              <strong>${{ order.shipping_amount|floatformat:2 }}</strong>
            </li>
            {% endif %}
            {% if taxes_enabled %}
            <li class="list-group-item d-flex justify-content-between">
              <span>Tax rate:</span>
              <strong>{{ order.get_tax_rate }}%</strong>
            </li>
              <li class="list-group-item d-flex justify-content-between">
              <span>Tax amount:</span>
              <strong>${{ order.tax_amount|floatformat:2 }}</strong>
            </li>
            {% endif %}
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (CAD)</span>
              <strong>${{ order.get_total_price|floatformat:2 }}</strong>
            </li>

          </ul>
          <!-- Cart -->

        </div>

      <!--</div>-->
      <!--Grid row-->

    <div class="text-center">
    {{ form.render }}
    </div>



{% endblock %}