{% extends 'dl_menu_light.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">

<link rel="stylesheet" href="{% static 'css/product.css'%}">

{% endblock %}

{% block carousel %}



<div id="swiper-container" class="swiper-container swiper-container-fade swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
    <div class="swiper-wrapper">

     <a class="swiper-slide" id="img{{image.id}}"></a>
    <script nonce="{{request.csp_nonce}}">
        var el = document.getElementById("img{{image.id}}");
        el.style.backgroundImage = "url('{{item.image.preview.url}}')";
    </script>
</div>
</div>
{% endblock %}

{% block content %}
<p></p>

        <div class="container dark-grey-text mt-5">


            <p class="lead font-weight-bold">{{ object.item_name }} - ${{ object.price|floatformat:2 }}</p>

            <p>{{ object.description }}</p>

            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-block my-0 p" >Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
            </a>



            {{ object.get_quantity_in_cart }}
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-block my-0 p" >Remove from cart
                <i class="fas fa-trash ml-1"></i>
            </a>

        <hr>
        <p>All online orders include free shipping to Canada and continental US. For pricing in other regions please contact us.</p>

        <p>

            <a href="{% url 'dl:all' %}" class="btn btn-default btn-block" >All Images</a>
        </p>


      </div>

    </div>
  </main>

<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/product.js' %}"></script>

{% endblock content %}