{% extends 'dl_menu_light.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">

{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small id="helpText">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p id="errorText">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-block btn-primary">Sign up</button>
  </form>
 <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}